node_modules
bin/test/test.js
bin/test/test.js.map
bin/resources/translation
bin/resources/localization
bin/resources/css/labcoat.css
bin/resources/js/labcoat.js
bin/resources/js/labcoat.js.map
bin/debug/html5
bin/debug/node-webkit/*
!bin/debug/node-webkit/package.json

labcoat.sublime-project
labcoat.sublime-workspace

.DS_Store
Labcoat.app

*.swn

*.swo

*.swp

*.hx~

*.vim

*.un~

*.pyc

build.hxml
